<ng-template #rt let-r="result" let-t="term">
    <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
</ng-template>
<label for="search1">Digite o estado:</label>
<input id="search1" type="text" (blur)="onBlur()" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search1" [resultTemplate]="rt"
    [editable]="false"
    [inputFormatter]="formatter" 
    (focus)="focus$.next($event.target.value)"
    (click)="click$.next($event.target.value)"
    #instance="ngbTypeahead"
/>

<ng-template #rt2 let-r="result" let-t="term">
    <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
</ng-template>
<label for="search2">Digite a Cidade:</label>
<input id="search2" type="text" class="form-control2" [(ngModel)]="model2" [ngbTypeahead]="search2"  [resultTemplate]="rt2"
    [editable]="false"
    [inputFormatter]="formatter" 
    (focus)="focus2$.next($event.target.value)"
    (click)="click2$.next($event.target.value)"
/>

  
<hr>
<pre>Model: {{ model | json }}</pre>
<pre>Model2: {{ model2 | json }}</pre>





